<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Delete Book</title>
</head>
<body>
<h1>Xóa sách</h1>
<h3 style="color: black;font-family: sans-serif;">Bạn có chắc chắn muốn xóa?</h3>
<div id="form">
    <form th:action="@{/delete-book}" th:object="${book}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table id="book">
            <tr>
                <td>Tên sách:</td>
                <td th:text="${book.name}"></td>
            </tr>
            <tr>
                <td>Giá thành:</td>
                <td th:text="${book.price}"></td>
            </tr>
            <tr>
                <td>Tác giả:</td>
                <td th:text="${book.author}"></td>
            </tr>
            <tr>
                <td>Thể loại:</td>
                <td th:text="${book.category.name}"></td>
            </tr>
            <tr>
                <td>Bìa sách:</td>
                <td><img th:src="@{'/image/' + ${book.image}}" width="100" height="100"></td>            </tr>
            <tr>
                <td colspan="2" ><input type="submit" value="Xóa"></td>
            </tr>
        </table>
    </form>
</div>
<a href="/books">Trở về</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>