<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<h1>Chỉnh sửa sách</h1>

<th:block th:if="${message}">
    <p style="color:limegreen" th:text="${message}"></p>
</th:block>
<div id="form">
<form th:action="@{/edit-book}" th:object="${book}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="book">
        <tr>
            <td>Tên sách:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Giá thành:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Tác giả:</td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td>Bìa sách:</td>
            <td><input type="file" name="image"/></td>
        </tr>
        <tr>
            <td>Thể loại:</td>
            <td>
                <select name="category">
                    <option th:each="c : ${category}"
                            th:value="${c.id}"
                            th:text="${c.name}"
                            th:selected="(${book.category}) and (${c.id} == *{category.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Chỉnh sửa"></td>
        </tr>
    </table>
</form>
</div>
<a href="/books">Trở về</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>