<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Xóa thể loại</title>
</head>
<body>
<h1>Xóa thể loại</h1>
<h2 style="color: black;font-family: sans-serif;">Bạn có chắc chắn muốn xóa?</h2>
<div id="form">
<form th:action="@{/delete-category}" th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Thể loại:</td>
            <td th:text="${category.name}"></td>
        </tr>
        <tr>
            <td>Mô tả:</td>
            <td th:text="${category.description}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Xóa"></td>
        </tr>
    </table>
</form>
</div>
<a href="/category"></a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>