<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Chỉnh sửa thể loại</title>
</head>
<body>
<h1>Chỉnh sửa thể loại</h1>
<th:block th:if="${message}">
    <p style="color:lawngreen" th:text="${message}"></p>
</th:block>
<div id="form">
<form th:action="@{/edit-category}" th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="category">
        <tr>
            <td>Thể loại:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Mô tả:</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Chỉnh sửa"></td>
        </tr>
    </table>
</form>
</div>
<a href="/category">Trở về</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>