<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<a href="/create-category">Thêm mới thể loại</a>
<h1 style="color: crimson;font-family: sans-serif;">Danh sách thể loại</h1>
<table border="1">
    <tr>
        <th>#</th>
        <th>Thể loại</th>
        <th>Mô tả</th>
        <th>Chỉnh sửa</th>
        <th>Xóa</th>
        <th>Xem</th>
    </tr>
    <th:block th:each="c : ${category}">
        <tr>
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.description}"></td>
            <td><a th:href="@{/edit-category/__${c.id}__ }">Chỉnh sửa</a></td>
            <td><a th:href="@{/delete-category/__${c.id}__ }">Xóa</a></td>
            <td><a th:href="@{/view-category/__${c.id}__ }">Xem</a></td>
        </tr>
    </th:block>
</table>
<a href="/books">Book list</a>
</body>
</html>